<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="eu.ddmore.libpharmml.target" sequenceNumber="7">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
<unit id="org.apache.xml.resolver" version="1.2.0.v201005080400"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20150124073747/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.equinox.core.feature.feature.group" version="1.2.102.v20160128-1406"/>
<repository location="http://download.eclipse.org/releases/mars/"/>
</location>
</locations>
</target>
